<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-witdh, initial-scale=1.0">

        <link rel="stylesheet" href="../../static/css/style_reset.css">
        <link rel="stylesheet" href="../../static/css/style_base.css">
        <link rel="stylesheet" href="../../static/css/style_base_align.css">
        <link rel="stylesheet" href="../../static/css/style_nav.css">
        <link rel="stylesheet" href="../../static/css/style_profile.css">

        <title>User profile</title>
    </head>
    <body>
        <nav>
            <ul>
                <a href="../administration/user_list.html"><li>User list</li></a>
                <a href="../public/user_login.html"><li>User login</li></a>
                <a href="../public/user_register.html"><li>User register</li></a>
                <a href="user-profile.html"><li>User profile</li></a>
                <a href="../public/feed.html"><li>Feed</li></a>
            </ul>
        </nav>

        <div class="content-h1">
            <h1>profile</h1>
        </div>

        <main class="main-container">
            <div class="container">
                <div id="content" class="content">
                    
                    <div id= "name" class="items">
                        <p class="parag-class">Nome:</p>
                    </div>

                    <div id="email" class="items">
                        <p class="parag-class">E-mail:</p>
                    </div>

                    <div id="password" class="items">
                        <p class="parag-class">Senha:</p>
                    </div>

                </div>
            </div>
        </main>
        <script src="../../static/api/user/findOne.js"></script>
    </body>
</html>