.main-container {   
    display: flex;  
    justify-content: center;
    align-items: center;
}

.container {
    display: block;

    border: 2px solid black;
    border-radius: 20px;

    margin-bottom: 60px;

    min-width: 800px;
    width: 70%;

    background-color: rgba(255, 109, 60, 0.832);

    box-shadow: 4px 4px;

    overflow: auto hidden;
}

.content-h1 {
    margin: 70px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

table {
    width: 100%;
}

th, td {
    border-right: 2px solid black;
    padding: 30px;

    font-size: 0.8em;
}

th {
    font: 1em Montserrat SemiBold;
}

td {
    background-color: rgb(251, 130, 89);

    overflow: hidden;
}

td:hover {
    background-color: rgb(245, 84, 31);
    transition: 800ms;

    overflow: visible;
}

