<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../static/css/style_reset.css">
        <link rel="stylesheet" href="../static/css/style_base.css">
        <link rel="stylesheet" href="../static/css/style_nav.css">
        <link rel="stylesheet" href="../static/css/style_feed.css">

        <title>Feed</title>
    </head>
    <body>

        <nav>
            <ul>
                <a href="user_list.html"><li>User list</li></a>
                <a href="user_login.html"><li>User login</li></a>
                <a href="user_register.html"><li>User register</li></a>
                <a href="user-profile.html"><li>User profile</li></a>
                <a href="feed.html"><li>Feed</li></a>
            </ul>
        </nav>

        <main class="main-container">
            <div id="container" class="container"></div>
        </main>

        <div class="button-content">
            <a class="a-class" href="user_post.html"><button class="button-class"><p class="parag-class">+</p></button></a>
        </div>
        <script src="../static/api/publication/findAll.js"></script>
    </body>
</html>