<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">

        <link rel="stylesheet" href="../static/css/style_reset.css">
        <link rel="stylesheet" href="../static/css/style_base.css">
        <link rel="stylesheet" href="../static/css/style_nav.css">
        <link rel="stylesheet" href="../static/css/style_feed.css">

        <title>Feed</title>
    </head>
    <body>
        <nav>
            <ul>
                <a href="user_list.html"><li>User list</li></a>
                <a href="user_login.html"><li>User login</li></a>
                <a href="user_register.html"><li>User register</li></a>
                <a href="user-profile.html"><li>User profile</li></a>
                <a href="feed.html"><li>Feed</li></a>
            </ul>
        </nav>

        <main class="main-container">
            <div class="container">
                <div class="items">
                    <h2>New 1</h2>

                    <div class="info-content">
                        <span>Published by <a href="user-profile.html" >Vítor Moreira</a> at 15:08 04/06/2024</span>
                    </div>

                    <div class="text-content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, natus aut voluptas enim cupiditate accusamus minus perspiciatis! Rem eos eius, magni assumenda, sit maiores nihil minima illo odit quibusdam exercitationem!
                    </div>
                </div>
                <div class="items">
                    <h2>New 2</h2>

                    <div class="info-content">
                        <span>Published by <a href="user-profile.html" >Vítor Moreira</a> at 15:08 04/06/2024</span>
                    </div>

                    <div class="text-content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illum numquam distinctio esse laudantium vitae adipisci, beatae nulla voluptatibus! Laboriosam nemo atque excepturi quaerat error soluta quas velit porro. Eligendi!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque magni et maxime saepe dolores dolore reiciendis temporibus nihil similique ex consequatur sint molestiae, ad odio dicta iure itaque sapiente consequuntur.
                        </p>
                    </div>
                </div>
                <div class="items">
                    <h2>New 3</h2>

                    <div class="info-content">
                        <span>Published by <a href="user-profile.html" >Vítor Moreira</a> at 15:08 04/06/2024</span>
                    </div>

                    <div class="text-content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur pariatur voluptates porro eius temporibus eos a excepturi iste, accusantium, aliquam quibusdam repellat saepe adipisci nemo, omnis voluptate necessitatibus veritatis maiores.</p>
                    </div>
                </div>
                <div class="items">
                    <h2>New 4</h2>

                    <div class="info-content">
                        <span>Published by <a href="user-profile.html" >Vítor Moreira</a> at 15:08 04/06/2024</span>
                    </div>

                    <div class="text-content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non facilis sint dolorem nihil animi repellendus minus numquam eligendi consequatur et accusantium veritatis quo, facere esse fugiat deleniti voluptate laudantium dignissimos.</p>
                    </div>
                </div>
                <div class="items">
                    <h2>New 5</h2>

                    <div class="info-content">
                        <span>Published by <a href="user-profile.html" >Vítor Moreira</a> at 15:08 04/06/2024</span>
                    </div>

                    <div class="text-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum nesciunt doloribus vel aliquam soluta, fugiat sint itaque consectetur. Porro quaerat ducimus dolore rerum ullam eligendi asperiores veniam aliquid molestiae eveniet.</p>
                    </div>
                </div>
            </div>
        </main>

        <div class="button-content">
            <a class="a-class" href="user_post.html"><button class="button-class"><p class="parag-class">+</p></button></a>
        </div>
    </body>
</html>