<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../static/css/style_reset.css">
        <link rel="stylesheet" href="../static/css/style_base.css">
        <link rel="stylesheet" href="../static/css/style_base_align.css">
        <link rel="stylesheet" href="../static/css/style_nav.css">
        <link rel="stylesheet" href="../static/css/style_form.css">

        <title>Send post</title>
    </head>
    <body>

        <nav>
            <ul>
                <a href="user_list.html"><li>User list</li></a>
                <a href="user_login.html"><li>User login</li></a>
                <a href="user_register.html"><li>User register</li></a>
                <a href="user-profile.html"><li>User profile</li></a>
                <a href="feed.html"><li>Feed</li></a>
            </ul>
        </nav>

        <div class="content-h1">
            <h1>Make your post in here</h1>
        </div>

        <main class="main-container">
            <div class="container">
                <div class="content">
                    <label class="label-class" for="message">Post</label>
                    <textarea class="input-class" id="message" type="message" rows="17" placeholder="Published your post by here"></textarea>
                    <div class="content-button">
                        <button class="button-class">Submit</button>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>