<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/static/css/style_reset.css">
        <link rel="stylesheet" href="/static/css/style_base.css">
        <link rel="stylesheet" href="/static/css/style_nav.css">
        <link rel="stylesheet" href="/static/css/style_table.css">

        <title>Administrator page</title>
    </head>
    <body>

        <nav>
            <ul>
                <li><a href="user_list.html">User list</a></li>
                <li><a href="user_login.html">User login</a></li>
                <li><a href="user_register.html">User register</a></li>
            </ul>
        </nav>

        <div class="content-h1">
            <h1>User list</h1>
        </div>

        <main class="main-container">
            <div class="container">
                <table>
                    <tr>
                        <th>name</th>
                        <th>E-mail</th>
                        <th>Password</th>
                    </tr>
                    <tr>
                        <td>João Vítor</td>
                        <td>joao@email.com</td>
                        <td>12345678</td>
                    </tr>
                    <tr>
                        <td>Carlos Ribeiro</td>
                        <td>carlos@email.com</td>
                        <td>43218765</td>
                    </tr>            
                    <tr>
                        <td>Maria da Silva</td>
                        <td>maria@email.com</td>
                        <td>87654321</td>
                    </tr>            
                    <tr>
                        <td>Ana Paula</td>
                        <td>ana@email.com</td>
                        <td>56781234</td>
                    </tr>
                </table>
            </div>
        </main>
    </body>
</html>