<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style_reset.css">
        <link rel="stylesheet" href="/static/css/style_base.css">
        <link rel="stylesheet" href="/static/css/style_login.css">
    </head>
    <body>

        <div class="content-h1">
            <h1>Login</h1>
        </div>

        <main class="main-container">
            <div class="container">
                <div class="content">

                    <label class="label-class" for="email">E-mail</label>
                    <input class="input-class" id="email" type="email" placeholder="Type your e-mail">

                
                    <label class="label-class" for="password">Password</label>
                    <input class="input-class" id="password" type="password" placeholder="Type your password">

                    <div class="content-button">
                        <button class="button-class">Submit</button>
                    </div>

                </div>
            </div>
        </main>
    </body>
</html>